<div class="listing">
  <div class="detail title">
    <span>Location:</span> {{rental.title}}
  </div>
  <div class="detail location">
    <span>Location:</span> {{rental.city}}
  </div>
</div>

<hr/>
